.mopen {
    /* 반응형))) 큰화면에서는 안보이는 삼발이 */
    display: none;
    position: fixed;
    top: 30px;
    right: 30px;
    font-size: 30px;
    padding: 10px;
    background: #ddd;
}

/* 반응형))) 768px(아이패드 가로사이즈)이 되면(!!!;안붙인다는것!!!) 이 서식을 적용하겠다*/
@media (max-width: 768px) {
    .mopen {
        /* 반응형))) 작은화면에선 보이는 삼발이 */
        display: block;
    }
}